.options{  
    /* width: calc(100vw -300px); */
    background-size: cover;
    padding: 0.25rem;
    background-color: #404258;
    /* border-radius: 0.25rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .modal{
    background-color: #000;
  }
  @media (max-width: 600px) {
    .options {
      display: flex;
      flex-direction: column;
      /* max-width: 480px; */
    }
  }
  .options > * {
    padding: 3px;
    display: flex;
    align-items: center;
    /* width: 100%; */
  }
  .copyCode > * {
    margin: 3px;
  }
  .options .btn {
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.5rem; */
    transition: none;
    background-color: #6B728E;
    border: 0px solid black;
    /* border-radius: 1rem; */
  }
  .options .btn:hover {
    background-color: #50577A;
  }
  .options .btn:focus {
    background-color: #50577A;
    outline: 2px solid #000;
  }
  .inputgroup {
    font-family: Gilroy-light;
    font-weight: bold;
    letter-spacing: 0.09rem;
    
  }
  
  .inputgroup {
    /* background-color: #6B728E;  */
    margin: 10px;
    width: 100%;
    max-width: 200px;
    /* margin: 1vh; */
    height: 35px;
  }
  
  .btnDiv {
    display: flex;
    /* margin-top: 1rem; */
    /* flex-direction: row; */
    justify-content: space-around;
  }
  
  .phone {
    height: 4rem;
  }
  
  .btnDiv .answer {
    background-color: #29bb89;
    color: #1e6f5c;
    font-weight: bold;
    border-radius: 1rem;
  }
  
  .btnDiv .decline {
    background-color: rgb(250, 30, 14, 0.75);
    border-radius: 1rem;
    color: #8c0000;
    font-weight: bold;
  }
  .hang {
    background-color: rgb(250, 30, 14, 0.75) !important;
    border-radius: 1rem;
    color: #8c0000 !important;
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .share_options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin-top: 0.5rem; */
  }
  .share_social {
    display: flex;
    /* margin-top: 1rem; */
  }
  
  .share_icon {
    display: flex;
    margin-left: 0.4rem;
  }
  